{% extends "layout.html" %}
{% block content %}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Century Gothic" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/css/jasny-bootstrap.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/3.1.3/js/jasny-bootstrap.min.js"></script>
<style>
body {
  font: 14px Century Gothic, sans-serif;
  line-height: 1.8;
  color: #ff4e50;
}
p {font-size: 14px;}
.margin {margin-bottom: 45px;}

.bg-0 {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)),
    url('../static/bg.jpg');
  background-size: cover;
  color: #def0e6;
}
.bg-1 { 
  background-color: #fc913a; /* Prussian Blue 0B3C5D, Sky Blue328CC1, Ivory Black1D2731 Gold Leaf D9b310 */
  color: #ffffff;
}
.bg-2 { 
  background-color: rgba(236, 236, 236, 0.8);
  color: #f36b2a;
}
.bg-3 { 
  background-color: #f9d62e; /* Rusty Red #984B43 */
  color: #ffffff;

}
.bg-4 { 
  background-color: #ff4e50;
  color: #ffffff;

}
/* Add a dark background color with a little bit see-through */ 
.navbar {
    margin-bottom: 0;
    background-color: #ff4e50;
    border: 0;
    font-size: 12px !important;
    letter-spacing: 5px;
    opacity:0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
    color: #fff !important;
}

/* The active link */
.navbar-nav li.active a {
    color: #fff !important;
    background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
    border-color: transparent;
}
#first {
  padding: 240px 0px 240px 0px;
}


img {
    display: block;
    margin: auto;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.container-fluid {
    padding: 70px 50px 70px 50px;
}
.container-fluid div {
    padding: 10px;
    margin: 0 auto;
}
.container-fluid a {
    color: #d5d5d5;
}

.container-fluid a:hover {
    color: #777;
    text-decoration: none;
}
.btn {
    background-color: transparent;
    color: #FFFFFF;
}


.myButton {
    width: 190px;
    height: 50px;
    background: #f36b2a;
    float: left;
    margin-right: 15px;
    line-height: 50px;
    border-radius: 100px;
    font-size: 17px;
    color: #fff;
    text-align: left;
    padding: 0 25px;
    font-weight: 400;
    position: relative;
    letter-spacing: 0.1px;
}
}
.myButton:hover {
	background: #040f45;
}
.myButton::after {
    width: 60px;
    content: ">";
    background: #ddd;
    position: absolute;
    right: -2px;
    top: 0;
    color: #040f45;
    height: 100%;
    border-radius: 0 100px 100px 0;
    text-align: center;
    font-size: 22px;
}


/* Add a dark background color to the footer */
footer {
    background-color: #defo6e;
    color: #f5f5f5;
    padding: 16px;
}

footer a {
    color: #d5d5d5 !important;
}

footer a:hover {
    color: #ffffff !important;
    text-decoration: none;
}
div#loading {
    width: 150px;
    height: 50px;
    display: none;
    background: url(/static/loading_image.gif) no-repeat;
    background-position: center;
    cursor: wait;
    }
.logo-small {
    color: #d5d5d5;
    font-size: 50px;
}
table {
  width: 80%;
  max-width: 400px;
}
#picture {
  width: 80%;
  max-width: 400px;
}
table, th, td {
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-collapse: collapse;
    margin: auto;
}

tr:hover {background-color: #18121E}
th, td {
    padding: 5px;
    vertical-align: middle;
    text-align: center;
}
td {
  vertical-align: middle;
}
label {
  text-align: left;
}
h4 {
    color: #090101;
    text-transform: uppercase;
    padding: 0;
    line-height: normal;
}
</style>
<!-- Seconds Container (Submit damage assessment)  -->
<div class="container-fluid bg-2 text-center" id="third">
{% if scroll %}
<script>
    document.location.hash = '#' + '{{ scroll }}';
</script>



{% endif %}
    <h3 class="h4">Upload Image </h3>
        <div class = flashes>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        {% endif %}
        {% endwith %}</div>

<div class="fileinput fileinput-new" data-provides="fileinput">
  <div class="fileinput-preview thumbnail" data-trigger="fileinput" id="window"></div>
  <div>
    <form action="assessment" method="POST" enctype="multipart/form-data" class ="form-inline">
    <span class="btn btn-default btn-file">
    <span class="myButton fileinput-new">select photo</span>
    <span class="fileinput-exists">change photo</span>
    <input type="file" id="filename" name="file"></span>
    <button type="submit" class="myButton fileinput-exists" id="analyze" onclick="loading();">submit</button></form></div>

  </div>
  <div id="loading"></div>
      <h4>Feature of photo:</h4>
    <p> Please upload an image focused on one major area of damage (e.g., front, side, or rear)د </p>
    <p>Try to contain most of the car in the picture unless it doesn't capture the damage well. Ensure image is legible in order to avoid inaccurate assesment</p>
  </div>
</div>
{% endblock %}
